/* Estilos de la pagina principal */



body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #e08bb6, #FFCCD3, #e686e1);
    color: #881282; /*cambia el color de las letras de bienvenida y los nmeros del calendario*/
    margin: 0;
    padding: 0;
   
  }

  .admin-panel {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  /* Estilos para los cuadros laterales, fotocopias etc */
.vista-previa,
.producto-previo {
    display: block;
    margin-bottom: 15px;
    background-color: #FFE4E6;
    color: rgb(26, 24, 24);
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
  }

  .vista-previa a:hover {
    background-color: #FCCEE8;
  }

  .vista-previa {
    background-color: #cc7b89;
    background: linear-gradient(135deg, #e08bb6, #FFCCD3, #e686e1);
    
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    color: rgb(8, 8, 8);

  }

/* Menu lateral con botones*/
  .menu-lateral {
    background-color: #cc7b89;
    background: linear-gradient(135deg, #e08bb6, #FFCCD3, #e686e1);
    
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    color: white;

  }

  .menu-lateral button,
  .menu-lateral a {
    display: block;
    margin-bottom: 15px;
    background-color: #FFE4E6;
    color: rgb(26, 24, 24);
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .menu-lateral a:hover {
    background-color: #FCCEE8;
  }


  
  /* Estilos para la imagen y el usuario*/

  .usuario {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(255, 127, 227);
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }

  .usuario img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }


  /* Estilos calendario*/
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#month-year {
  margin: 0 15px;
  font-weight: bold;
  font-size: 18px;
}
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.day {
  padding: 10px;
  background: #f0f0f0;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;   /* convierte el cuadro en círculo */
  width: 40px;          /* ancho fijo */
  height: 40px;         /* alto fijo */
  display: flex;        /* para centrar el número */
  align-items: center;  /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
}

.day:hover {
  background: #cce5ff;
}
.empty {
  background: transparent;
}

/* color del selector del día*/
.day.selected {
  background: #ff00d4;
  color: #fff;
  font-weight: bold;
}



