/*Estilos para Base*/
h1{
    text-align: center;
    color: black;
    margin-bottom: 100px; /* más espacio debajo del mensaje de bienvenida */

}

footer{
   margin-bottom: 40px; /* más espacio debajo del mensaje de bienvenida */ 
    background-color: #cc7b89;
    background: linear-gradient(135deg, #e08bb6, #FFCCD3, #e686e1);

}

p{
    color: black;
}