body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('../img/descarga.jfif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Capa de transparencia sobre la imagen */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.45); /* ajusta el 0.45 para más o menos transparencia */
  z-index: -1;
}



/* ===== Encabezado ===== */
header {
  text-align: center;              /* Centra todo el contenido */
  padding: 30px 20px;              /* Espaciado interno */
  background: rgba(255, 255, 255, 0.15); /* Fondo semitransparente */
  border-bottom: 2px solid rgba(255,255,255,0.3);
}

header h1 {
  
  font-family: 'MiFuenteBonita', sans-serif;
  font-size: 40px;
  color: #000000;
  margin: 0;                          /* Quita márgenes extra */
  letter-spacing: 2px;                /* Espaciado entre letras */
}


  /* Footer */
footer {
  background: rgba(255, 255, 255, 0.15);
  text-align: center;
  padding: 15px;
  color: rgb(12, 12, 12);
  border-top: 2px solid rgba(255,255,255,0.3);
}



@font-face {
  font-family: 'MiFuenteBonita'; /* nombre que tú inventas */
  src: url('../fonts/miFuente.woff2') format('truetype');

}


