/* Estilos reporte de venta */
/* estilos del fondo*/



/* Enlace de regreso */
a {
  font-family: 'PorkyBold', sans-serif;
  color: rgb(0, 0, 0);
  padding: 2.5rem 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

a:hover {
  color: #c21875;
}

/* Títulos */
h2 {
  font-family: 'PorkyBold', sans-serif;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'PorkyBold'; /* nombre que tú inventas */
  src: url('/static/fonts/PorkyBold.woff2') format('truetype');

}

/* Formulario */
form {
  max-width: 400px;
  margin: 0 auto 30px auto;
  padding: 45px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

form input {
  padding: 20px 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #d63384;
  outline: none;
  box-shadow: 0 0 6px rgba(214,51,132,0.3);
}

form button {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #781e8a, #7b25eb);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: linear-gradient(135deg, #7b25eb, #781e8a);
}

/* Tabla de resultados */
table {
  width: 90%;
  margin: 0 auto 30px auto;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

table thead {
  background: #f79ac8;
  color: #0a0a0a;
}

table th, table td {
  padding: 20px 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}

table tr:hover {
  background-color: #fce4ec; /* rosa muy suave */
}

/* Mensaje sin resultados */
p {
  text-align: center;
  font-style: italic;
  color: #0c0c0c;
}



