{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estiloVentas.css' %}">

<h2>Registrar Venta</h2>

<form method="post" id="ventaForm">
    {{ formset.management_form }} <!-- Permite que Django sepa cuántos formularios debe procesar al recibir el POST.-->
    {% csrf_token %} <!-- token de seguridad-->
    <div id="productos">
        {% for form in formset %}
            <div class="producto-form"> <!-- formulario productos,precio y cantidad-->
                {{ form|crispy }}
            </div>
            {{ venta_form|crispy }}<!-- formulario total-->
        {% endfor %}
    </div> 
    <button type="button" id="addProducto" class="btn btn-info">Agregar Producto</button>
    <button type="submit" class="btn btn-success">Registrar Venta</button>
</form>

<hr>
<h3>Total a pagar: {{ total }}</h3>
<h3>Cambio: {{ cambio }}</h3>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).on('change', 'select[name$="producto"]', function() {
    var productoId = $(this).val();
    var precioInput = $(this).closest('.producto-form').find('input[name$="precio"]');
    if(productoId){
        $.getJSON("{% url 'ventas:get_precio_producto' %}", {producto_id: productoId}, function(data){
            if(data.precio){
                precioInput.val(data.precio);
            }
        });
    }
});

// Botón para agregar más productos
$('#addProducto').click(function(){
    var formIndex = $('#productos .producto-form').length;
    var newForm = $('#productos .producto-form:first').clone(true);
    newForm.find(':input').each(function(){
        var name = $(this).attr('name').replace(/-\d+-/, '-' + formIndex + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('');
    });
    $('#productos').append(newForm);
    $('#id_detalleventa_set-TOTAL_FORMS').val(formIndex+1);
});
</script>
