{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/Reporte_Ventas.css' %}">




<a href="{% url 'home' %}" class="btn btn-outline-light btn-sm">
    <i class="bi bi-house-fill me-1"></i> Inicio
</a>
<h2>Reporte de ventas por día</h2>

<form method="GET">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>
    
{% if dia %}
    <hr>
    <h2>📅 {{ dia|date:"d/m/Y" }} — {{ ventas.count }} venta{% if ventas.count != 1 %}s{% endif %}</h4>

    {% if ventas %}
        {% for venta in ventas %}
        <div style="border: 1px solid #ccc; padding: 1rem; margin: 1rem 0; border-radius: 8px;">
            
            <h3>Venta {{ forloop.counter }}</h5>
            <p><strong>Método de pago:</strong> {{ venta.metodo_pago }}</p>

            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in venta.detalleventa_set.all %}
                    <tr>
                        <td>{{ detalle.producto.nombre }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>${{ detalle.precio }}</td>
                        <td>${{ detalle.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if venta.descuento > 0 %}
                <p><strong>Descuento:</strong> {{ venta.descuento }}%
                {% if venta.descripcion_descuento %}
                    — {{ venta.descripcion_descuento }}
                {% endif %}
                </p>
            {% endif %}

            <p><strong>Total:</strong> ${{ venta.total }}</p>
        </div>
        {% endfor %}

    {% else %}
        <p>No se registraron ventas ese día.</p>
    {% endif %}
{% endif %}

{% endblock %}