{% extends "index.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/estiloListado.css' %}">
<a href="{% url 'home' %}">Regresar al inicio</a>
  <h1>Listado de Productos</h1>
  {% if productos %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.descripcion }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No se encontraron productos.</p>
  {% endif %}
{% endblock %}
