<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>FactuBox</title>
  <!-- Aquí podrías enlazar Bootstrap u otro CSS -->
</head>
<body>
  <header>
    <h1>Bienvenido a Papeleria la 36<i class="bi bi-heart-pulse"></i></h1>

  </header>
    <div class="container mt-4">
        {% block content %}{% endblock %}
      </div>

 

      <footer>
        <p>Instagram Papeleria la 36 <i class="bi bi-instagram"></i></p>
        <p>Telefono 3453256  <i class="bi bi-telephone-plus"></i></p>
        <p>Ubicación Calle 36 # 14-25<i class="bi bi-geo-alt"></i></p>
        <p>&copy; 2025 Papeleria la 36 - Todos los derechos reservados</p>
      </footer>       
</body>
</html>




