<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>FactuBox</title>
  <!-- Aquí podrías enlazar Bootstrap u otro CSS -->
    <link href="{% static 'django_select2/django_select2.css' %}" rel="stylesheet">
    <script src="{% static 'django_select2/django_select2.js' %}"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
   <link rel="stylesheet" href="{% static 'css/estilosIndex.css' %}">


</head>
<body>
  <header>
    <h1>Papeleria la 36</h1>
  </header>
    <div class="container mt-4">
        {% block content %}{% endblock %}
      </div>

      <footer>

        <p>Instagram Papeleria la 36 <i class="bi bi-instagram"></i> | Telefono 3453256  <i class="bi bi-telephone-plus"></i> |  Dirección Calle 36 # 14-25 <i class="bi bi-geo-alt"></i></p>
        <p>&copy; 2026 Papeleria la 36 - Todos los derechos reservados</p>
      </footer>       
</body>
</html>




